<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Mis Proyectos</title>
</head>

<body>
    <nav class="pink lighten-4">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="hide-on-med-and-down left">
            <li><a href="../index.html"><i class="material-icons">first page</i></a></li>
            <li><a href="../index.html">Inicio </a></li>
        </ul>
        <ul class="hide-on-med-and-down right">
            <li><a class="active" href="../view/proyectos.html">Mis Proyectos </a></li>
            <li><a href="../index.html#karla">Acerca de mí</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../index.html#karla">Acerca de mí</a></li>
            <li><a class="active" href="proyectos.html">Mis Proyectos </a></li>
        </ul>
        <a id="nav-logo" href="index.html" class="brand-logo center"><img src="../assets/kl-white.png" alt=""></a>
    </nav>
    <main>
        <section>
            <div class="container center">
                <div class="row">
                    <h3 id="" class="center pink lighten-4 white-text ">Encontrarte</h3>
                    <div class="left-aling row">
                        <div class="col m6 s12">
                            <img class="responsive-img" src="../assets/proyectos/encontrarte-mock.jpg" alt="Encontrarte Look">
                        </div>
                        <div class="col m6 s12">
                            <p>Web app con Landing page para desktop realizada durante un pequeño hackaton interno, trabajo colaborativo donde yo lleve el master del proyecto, incluye consumo de Api Google maps</p>
                        </div>

                        <p class="left-aling"> Un reto interesante la aplica <br>Mi labor durante el proyecto fue realizar la plataforma web. <br> La solución plateada fue ofrecer mediante la interacción con un bot una guía que resuelva las dudas de las mujeres, este bot mediante un cuestionario guía a la usuaria (de inicio) para saber si está embarazada dependiendo de los resultados y sus necesidades ofrece opciones cercanas de servicios y productos que pueda requerir. <br>A la página se accede mediante Facebook ya que el bot se encuentra alojado en esa plataforma, de la cual se obtienen los datos básicos del usuario, el home es un Marketplace que está dirigido a las necesidades de la usuaria, también cuenta con un espacio que conjunta todos los datos de mediciones obtenidos por diferentes wearables que se buscan conectar para obtener estadisticas, malestares y síntomas que la usuaria presente y puedan ser enviados a su médico con un simple click </p>
                    </div>
                    <div class="center">
                        <a class="btn waves-effect pink lighten-4 white-text" href="https://fbk-rena.github.io/encontrArte/">Ver Demo</a>
                    </div>
                </div>
                <div class="row">
                    <h5>Planeción</h5>
                    <div class="encontrarte-smoove col s6" data-scale="5">
                        <img class="responsive-img" src="../assets/proyectos/encontrarte-hitos.jpg">
                    </div>
                    <div class="encontrarte-smoove col s6" data-scale="0.2" data-skew="90deg,90deg">
                        <img class="responsive-img" src="../assets/proyectos/encontrarte-pantallas.jpg">
                    </div>
                </div>
                <div class="row">
                    <h5>Vistas del proyecto</h5>
                    <div class="encontrarte-smoove col s4" data-rotate-x="90deg" data-move-z="-500px" data-move-y="200px">
                        <img class="responsive-img" src="../assets/proyectos/encontrarte-phone.jpg">
                    </div>
                    <div class="encontrarte-smoove col s4" data-rotate-x="90deg" data-move-z="-500px" data-move-y="200px">
                        <img class="responsive-img" src="../assets/proyectos/encontrarte-landing.jpg">
                    </div>
                    <div class="encontrarte-smoove  col s4" data-rotate-x="90deg" data-move-z="-500px" data-move-y="200px">
                        <img class="responsive-img" src="../assets/proyectos/encontrarte-login.jpg">
                    </div>
                </div>
                <div class="row">
                    <div class="encontrarte-smoove col s4 m4" data-rotate-y="180deg" data-move-z="-200px" data-move-x="-300px">
                        <img class="responsive-img encontrarte-smoove" src="../assets/proyectos/encontrarte-sesion.jpg">
                    </div>
                    <div class="encontrarte-smoove col s4" data-rotate-x="180deg" data-rotate-y="45deg" data-move-z="-500px">
                        <img class="responsive-img" src="../assets/proyectos/encontrarte-sesionform.jpg">
                    </div>
                    <div class="encontrarte-smoove col s4" dtt,ata-rotate-y="180deg" data-move-z="-100px" data-move-x="500px">
                        <img class="responsive-img" src="../assets/proyectos/encontrarte-facebook.jpg">
                    </div>
                    <div class="encontrarte-smoove col s4">
                        <img class="responsive-img encontrarte-smoove" src="../assets/proyectos/encontrarte-map.jpg">
                    </div>
                    <div class="encontrarte-smoove col s4">
                        <img class="responsive-img" src="../assets/proyectos/encontrarte-detail.jpg">
                    </div>
                    <div class="encontrarte-smoove col s4">
                        <img class="responsive-img" src="../assets/proyectos/encontrarte-satelit.jpg">
                    </div>
                </div>
                <div class="row">
                    <h5>El equipo</h5>
                    <div class="encontrarte-smoove col offset-s3 s6">
                        <img class="responsive-img" src="../assets/proyectos/encontrarte-team.jpg">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer pink lighten-4">
        <div class="row">
            <div class="col m6 s12">
                <div class="col m2 s4">
                    <img src="../assets/Logo.png" alt="" class="responsive-img">
                </div>
                <div class="col m3 s6">
                    <ul>
                        <!--<li><a class="grey-text text-lighten-3" href="#!"> Un poco mas de mi</a></li>-->
                        <li><a class="grey-text text-lighten-3" href="../assets/pdf/cv.pdf" target="_blank"> Mi CV</a></li>
                        <li><a class="grey-text text-lighten-3" href="proyectos.html"> Mis Proyectos</a></li>
                        <li><a class="grey-text text-lighten-3" href="../index.html#skills"> Mis Habilidades</a></li>
                    </ul>
                </div>
            </div>
            <div class="col m6 s12">
                <span><a class="grey-text text-lighten-3" href="tel:+5549350645"><i class="material-icons">phone_iphone</i> 55 4935 0645 </a></span>
                <span><a class="grey-text text-lighten-3" href="mailto:fbk.rena@gmail.com?Subject=subject message" target="_blank"><i class="material-icons">mail</i> fbk.rena@gmail.com </a></span>
                <span><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/rena-fbk/"><i class="material-icons">account_box</i> LinkedIn</a></span>
                <span><a class="grey-text text-lighten-3" href="https://github.com/fbk-rena"><i class="devicon-github-plain"></i> Visita mis repo</a></span>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                Rena ❤ © 2017 Copyright Text
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-smoove/0.2.6/jquery.smoove.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
</body>

</html>
